*{
margin: 0;
padding: 0;
font-family: PP mori;
color: white;
}

html , body{
    width: 100%;
    height : 100%;
    box-sizing: border-box;
}

#cursor{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size: cover;
    mix-blend-mode: difference; /* Ye apna color change karega*/
}   

#main{
    background-color: #000000 ;
    cursor: none;
}

#page1{
    min-height: 100vh;   /*Jo screen dikh rahi hai uski height*/
    width: 100%;
    position: relative;
    z-index: 9;
}

#nav{
    width: 100%;
    height: 55px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 ;
   

}

#nav img{
    height: 50px;
}

#nav-part2{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 20px;
}

#nav #circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
}

#nav h4{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}

/* To select 1st child from nav which consist of h4s   */
#nav h4:nth-child(1){
    border-bottom: 1.5px solid white;
}

/* vw" and "vh" are units of measurement used for specifying sizes and distances in a responsive and relative manner. */

#page1 h1{
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;
    margin-top: 5vw;
    margin-left: 15vw;
}

#page1 h2{
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;
    margin-left: 40vw;
}

/* way of centering a element */
#page1 video{
    height: 60vh;
    width: 60%;
    position: relative;
    left : 50%;
    transform : translate(-50% , 0);
    border-radius: 20px;

}

#page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 0;
    border-bottom: 2px solid #363636;
    position: relative;
    z-index: 9;
}

#page2>h2{
    font-size: 5.5vw;
    color: #111;
    font-weight: 500;
    padding-left: 5vw;
}

#page2-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 5vw;
    margin-top : 50px
}

#page2-left h2{
    font-size: 4vw;
    font-weight: 240;
    text-transform: uppercase;
    color: #111;
    line-height: 4vw;

}

#page2-left{
    width: 30%;
}

#page2-right{
    width: 20%;
}

#page2-right p{
    font-size: 1.5vw;
    font-weight: 300;
    color: #111;
    line-height: 1.5
}

#page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: #111;
    margin-top: 20px;

}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
}

#page3 h1{
    color: #000000;
    margin-left: 4vw;
    font-size: 5vw;
    margin-top: 30px;
}

#page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 4vw;

}

#page3-part1 img{
    height: 55vh;
    width : 35vw;
    margin-top : 12vw;
}

#page3-part1 video{
    height: 60vh;
    width : 30vw
}

#page3-part2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 4vw;

}
#page3-part2 img{
    height: 55vh;
    width : 35vw;
    margin-top : 12vw;
}

#page3-part2 video{
    height: 60vh;
    width : 30vw
}

#page4{
    height: 80vh;
    width: 100vw;
    position: relative;
    z-index: 9;
    /* background-color: blue; */
    padding : 10px 30px;
    /* border-top: 2px solid white; */
}
#elem{
    /* background-color: salmon; */
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    position: relative;  
    top : 100px; 
    margin : 0px 20px
}
#elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(20%) rotate(2deg);
}

#page4 #img1{
    width: 450px;
    left: 0;
}

#page4 #img2{
    height: 400px;
    width : 450px;
    right: 0;
}
#elem:hover h1{
    transform: translateY(-100%);
    color :  #EDBFFF ;/* */
}

#elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}

#elem h1{
    font-size: 5.1vw;
    transition: all ease-out 0.5s; 
}

#text-div{
    font-weight: 500;
    height: 82.5px;
    overflow: hidden;
}

#page5{
    min-height: 100vh;
    width : 100%;
    /* background-color: red; */
    /* position: relative; */
    z-index: 9;
    padding: 140px 0px;
}

#page5 h2{
    margin: 0 0 50px 100px;
    font-size: 4vw;
    text-transform: uppercase ;
    margin-bottom: 50px;
}

#box{
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    height: 100px;
    padding: 0px 10px;
    border-top: 2px solid #dadada;
}

#box:nth-last-child(1){
    border-bottom: 2px solid #dadada;
}

/*
he z-index property is used to control the stacking order of elements when they overlap on a web page. 
It determines which element appears on top of others.
Elements with higher z-index values appear in front of elements with lower z-index values.
It's important to note that z-index only works on elements with a position value of relative, absolute, or fixed. It doesn't affect elements with position: static (the default).
*/

/*
crsr.style.backgroundColor = "transparent";, you are making the background of the crsr element transparent, allowing any content or elements that are positioned behind it to be visible through the element. This can be useful for creating effects like overlays or elements with partially transparent backgrounds.
*/